<footer class="site-wrapper !py-2 border-t border-black">
	<nav class="flex gap-20 justify-center">
		<ul class="col-span-full flex gap-20">
			{% for item in menu_footer.items %}
				<li>
					<a class="font-mono text-base font-normal uppercase {{ item.current ? 'active' }}" href="{{ item.link }}" target="{{ item.target ?: '_self' }}">{{ item.title }}</a>
				</li>
			{% endfor %}
		</ul>
		<p class="font-mono text-base font-normal uppercase">Tous droits réservés</p>
	</nav>
</footer>