<footer>
	<div class="site-wrapper py-6 sm:py-12">
		<nav class="site-grid site-grid--gap-y pb-16 sm:pb-36">
			<ul class="col-span-2 flex flex-col gap-y-1">
				{% for item in menu_footer.items %}
					<li>
						<a class="small" href="{{ item.link }}" target="{{ item.target ?: '_self' }}">{{ item.title }}</a>
					</li>
				{% endfor %}
			</ul>
		</nav>
	</div>
</footer>
