<div class="w-full flex flex-col items-center gap-5 {{ posts.pagination.current == posts.pagination.total ? 'hidden' }}" data-ajax="pagination">
    <button class="btn" data-ajax="loadmore">Charger plus</button>
</div>