<section class="site-wrapper site-grid pt-36 pb-20 sm:py-36 overflow-hidden" data-module-text>
	{% if fields.title %}
		<div class="col-span-full sm:col-span-11" data-speed="clamp(0.9)">{{ fields.title }}</div>
	{% else %}
		<div class="col-span-full sm:col-span-11" data-speed="clamp(0.9)">
			<h1>{{ post.title }}</h1>
		</div>
	{% endif %}
</section>
