body.login #login h1 a {
  width: 325px;
  height: 30px;
  padding-bottom: 15px;
  display: block;
  text-indent: -9999px;
  background-image: url("../images/logos/studio-22.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}

body.login #login form#loginform .forgetmenot {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
}

body.login #login form#loginform #wp-submit {
  width: 100% !important;
  display: block !important;
}
